#include <stdio.h>
#include <stdlib.h>

int main(void)
{
    int arraySum (int *ptr , const int n);
    int values[10] = {3 , 7 , 9 , 3 , 6 , -1 , 7, 9 , 1 , 5};//should be 49

    printf("the sum is %i\n" , arraySum(values , 10));

    return 0;
}
int arraySum(int *ptr , const int n)
{
    int sum = 0;
    int *const arrayEnd = ptr + n;//point to the end off the array

    for (; ptr < arrayEnd; ++ptr) //ptr is an address and arrayEnd too//which mean that only when the address of the pointer will be less then the address of the array - the loop will end
    {
        sum += *ptr;
    }

    return sum;
}


